
/* ヘッダー */
.header {
  margin-bottom: 627px;
  position: relative;
}
.header-container {
  padding: 33px 53px 0;
}
.logo {
  width: 260px;
}
.menu {
  font-size: 24px;
}
.menu i {
  font-size: x-large;
}
.copy {
  margin-left: 66%;
}
.mainCopy {
  margin-left: 66%;
}

/* アバウト */
.about {
  position: absolute;
  top: calc(100vh + 120px);
  left: 0;
  right: 0;
  max-width: 1100px;
  margin-left: 12%;
  margin-right: 12%;
  padding: 110px 50px;
}
.about-container {
  width: 590px;
  padding: 50px 30px;
}

/* ワークス */
.works-culture-wrapper {
  background-color: #F0F0F0;
  padding: 120px 12% 60px;
  display: flex;
  justify-content: space-between;
}

.works,
.culture {
  width: 47%;
  margin-bottom: 0;
}

/* レイテストトピック */
.latestTopics {
  padding: 60px 12%;
  display: flex;
  justify-content: space-between;
}
.latestTopics .inner-container {
  width: 700px;
  padding-top: 70px;
}
.topic-ttl a {
  font-size: 14px;
}
.latestTopics .wrapper {
  display: flex;
  justify-content: flex-end;
}

/* コンタクト */
.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 60px 12% 120px;
}
.contact .section-img {
  margin-bottom: 0;
  flex: 1.31;
}
.contact .container {
  margin-right: 80px;
  flex: 1;
}
.contact .section-desc {
  width: auto;
}
